.box {
    border:none;
    background:#0F1626;
}

.profile-image {
    margin-top: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.profile-image-description {
    font-size: 10px;
    color: #FF533D;
    margin-left: 1em;
}

.main-title {
    font-size: 24px;
    margin-top: 4em;
    color: #FF533D;
}
.main-description {
    font-size: 18px;
    margin-top: 4em;
    color: #FF533D;
}

.social-media-icon {
    margin-top: 3em;
    margin-bottom: 3em;
}

